.crud_child{
  display:flex;
  flex-wrap:wrap;
  margin-left:4%;
  width:100% ;
}
#crud_child1{ 
  padding:2px;
  width:25%;
  height:20vh;
  text-align:center
}
@media(max-width:830px){
  .crud{
    display:block !important;
  }
  .crud_child{
    margin-left:1%;
  }
  #crud_child1{
    width:98%;
    height:10vh;
  }
}